--extra-index-url https://download.pytorch.org/whl/cpu

torch>=2.4.0,<2.6.0
torchaudio>=2.4.0,<2.6.0
torchvision>=0.19.0,<0.21.0

numpy<2.0.0

matplotlib

fastapi
uvicorn[standard]
python-multipart
requests
python-dotenv
whisperx
groq

huggingface_hub<0.22.0
